{% extends "layouts/main.njk" %}

{% set title = "Find placement schools by location, school or training provider" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ actions.continue }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukRadios({
        name: "q",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "location",
            text: "By city, town or postcode"
          },
          {
            value: "school",
            text: "By school"
          },
          {
            value: "provider",
            text: "By university or other training provider"
          }
        ],
        value: q,
        errorMessage: errors | getErrorMessage("q")
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
