{% extends "layouts/support.njk" %}

{% set primaryNavId = "placementSchools" %}

{% set title = "Placement schools (" + pagination.totalCount | numeral("0,0") + ")" %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    {# {{ govukButton({
      text: "Add placement school",
      href: actions.new
    }) }} #}

  </div>
</div>

<div class="app-filter-layout">
  <div class="app-filter-layout__filter">
    {% include "./_filter-panel.njk" %}
  </div>

  <div class="app-filter-layout__content">

    <div class="app-action-bar">
      <div class="app-action-bar__filter"></div>
    </div>

    {% include "./_search-panel.njk" %}

    {% if placementSchools.length %}

      {% for school in placementSchools %}

        {% set nameHtml %}
          <a href="{{ actions.view }}/{{ school.id }}" class="govuk-link">
            {{ school.name }}
          </a>
        {% endset %}

        {% set schoolTypeGroupHtml %}
          <ul class="govuk-list">
            <li>
              {{ school.group }}
            </li>
            <li class="govuk-!-font-size-16">
              {{ school.type }}
            </li>
          </ul>
        {% endset %}

        {% set educationPhaseHtml %}
          <ul class="govuk-list">
            <li>
              {{ school.educationPhase }}
            </li>
            {% if school.statutoryLowAge and school.statutoryHighAge %}
              <li class="govuk-!-font-size-16">
                Ages {{ school.statutoryLowAge }} to {{ school.statutoryHighAge }}
              </li>
            {% endif %}
          </ul>
        {% endset %}

        {% set academicYearsHtml %}
          <ul class="govuk-list govuk-list--spaced">
            {% for year in school.academicYears %}
              <li>
                {{ year.name }}
                <ul class="govuk-list govuk-list--bullet">
                  {% for provider in year.providers %}
                    <li>{{ provider.name }}</li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        {% endset %}

        {{ govukSummaryList({
          card: {
            title: {
              html: nameHtml
            }
          },
          rows: [
            {
              key: {
                text: "School status"
              },
              value: {
                text: school.status if school.status.length else "Not known",
                classes: "govuk-hint" if not school.status.length
              }
            },
            {
              key: {
                text: "UK provider reference number (UKPRN)"
              },
              value: {
                text: school.ukprn if school.ukprn.length else "Not known",
                classes: "govuk-hint" if not school.ukprn.length
              }
            },
            {
              key: {
                text: "Unique reference number (URN)"
              },
              value: {
                text: school.urn if school.urn.length else "Not known",
                classes: "govuk-hint" if not school.urn.length
              }
            },
            {
              key: {
                text: "School type"
              },
              value: {
                html: schoolTypeGroupHtml
              }
            },
            {
              key: {
                text: "Education phase"
              },
              value: {
                html: educationPhaseHtml
              }
            },
            {
              key: {
                text: "Latest partnership"
              },
              value: {
                html: academicYearsHtml
              }
            }
          ]
        }) }}

      {% endfor %}

      {% include "_includes/pagination.njk" %}
    {% else %}
      <p class="govuk-body">There are no placement schools.</p>
    {% endif %}

  </div>
</div>

{% endblock %}
