{% extends "layouts/support.njk" %}

{% set primaryNavId = "placementSchools" %}
{% set secondaryNavId = "details" %}

{% set title = placementSchool.name %}
{% set caption = "Placement school" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "./_secondary-navigation.njk" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">School details</h2>

    {% set schoolTypeGroupHtml %}
      <ul class="govuk-list">
        <li>
          {{ placementSchool.schoolGroup.name }}
        </li>
        <li class="govuk-!-font-size-16">
          {{ placementSchool.schoolType.name }}
        </li>
      </ul>
    {% endset %}

    {% set educationPhaseHtml %}
      <ul class="govuk-list">
        <li>
          {{ placementSchool.schoolEducationPhase.name }}
        </li>
        {% if placementSchool.schoolDetail.statutoryLowAge and placementSchool.schoolDetail.statutoryHighAge %}
          <li class="govuk-!-font-size-16">
            Ages {{ placementSchool.schoolDetail.statutoryLowAge }} to {{ placementSchool.schoolDetail.statutoryHighAge }}
          </li>
        {% endif %}
      </ul>
    {% endset %}

    {% set addressHtml %}
      {% if placementSchool.schoolAddress.line1.length %}
        {{ placementSchool.schoolAddress.line1 }}<br>
      {% endif %}
      {% if placementSchool.schoolAddress.line2.length %}
        {{ placementSchool.schoolAddress.line2 }}<br>
      {% endif %}
      {% if placementSchool.schoolAddress.line3.length %}
        {{ placementSchool.schoolAddress.line3 }}<br>
      {% endif %}
      {% if placementSchool.schoolAddress.town.length %}
        {{ placementSchool.schoolAddress.town }}<br>
      {% endif %}
      {% if placementSchool.schoolAddress.county.length %}
        {{ placementSchool.schoolAddress.county }}<br>
      {% endif %}
      {% if placementSchool.schoolAddress.postcode.length %}
        {{ placementSchool.schoolAddress.postcode }}<br>
      {% endif %}
    {% endset %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "School status"
          },
          value: {
            text: placementSchool.schoolStatus.name if placementSchool.schoolStatus.name.length else "Not known",
            classes: "govuk-hint" if not placementSchool.schoolStatus.name.length
          }
        },
        {
          key: {
            text: "UK provider reference number (UKPRN)"
          },
          value: {
            text: placementSchool.ukprn if placementSchool.ukprn.length else "Not known",
            classes: "govuk-hint" if not placementSchool.ukprn.length
          }
        },
        {
          key: {
            text: "Unique reference number (URN)"
          },
          value: {
            text: placementSchool.urn if placementSchool.urn.length else "Not known",
            classes: "govuk-hint" if not placementSchool.urn.length
          }
        },
        {
          key: {
            text: "School type"
          },
          value: {
            html: schoolTypeGroupHtml
          }
        },
        {
          key: {
            text: "Education phase"
          },
          value: {
            html: educationPhaseHtml
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: addressHtml if addressHtml.length else "Not known",
            classes: "govuk-hint" if not addressHtml.length
          }
        }
      ]
    }) }}

  </div>
</div>

{% endblock %}
