
{{ govukFooter({
  rebrand: true,
  meta: {
    items: [{
      href: "#",
      text: "How to use this service"
    }, {
      href: "/accessibility",
      text: "Accessibility"
    }, {
      href: "/cookies",
      text: "Cookies"
    }, {
      href: "/privacy",
      text: "Privacy notice"
    }, {
      href: "#",
      text: "Terms and conditions"
    }] if not hideFooterLinks
  }
}) }}
