{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set govukRebrand = true %}

{% from "_components/checkbox-filter/macro.njk" import appCheckboxFilter %}
{% from "_components/search/macro.njk" import appSearch %}

{% block pageTitle -%}
  {{ "Error: " if errors }}{{ subtitle + " - " if subtitle }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{%- endblock %}

{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    rebrand: true,
    homepageUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  {% set navigationEndHtml %}
    <li class="govuk-service-navigation__item app-service-navigation__align-right">
      <a class="govuk-service-navigation__link" href="/support">Sign in</a>
    </li>
  {% endset %}

  {{ govukServiceNavigation({
    navigationId: "primaryNavigation",
    serviceName: serviceName,
    serviceUrl: "/",
    slots: {
      navigationEnd: navigationEndHtml
    }
  }) }}

  {% include "_includes/phase-banner.njk" %}
{% endblock %}

{% block footer %}
  {% include "_includes/footer.njk" %}
{% endblock %}
